<div class="row animated fadeIn">
  <div class="col-lg-6">
      <div class="card">
          <div class="card-body">
              <h4 class="card-title">Perfil del usuario</h4>
              <h6 class="card-subtitle">Nombre de usuario</h6>
              <form ngNativeValidate #f="ngForm" (ngSubmit)="guardar(f.value)" class="form-horizontal p-t-20">
                  <div class="form-group row">
                      <label for="exampleInputuname3" class="col-sm-3 control-label">Username*</label>
                      <div class="col-sm-9">
                          <div class="input-group">
                              <div class="input-group-addon"><i class="ti-user"></i></div>
                              <input type="text" [(ngModel)]="usuario.nombre" name="nombre" class="form-control" placeholder="nombre Usuario" required>
                          </div>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="exampleInputEmail3" class="col-sm-3 control-label">Email*</label>
                      <div class="col-sm-9">
                          <div class="input-group">
                              <div class="input-group-addon"><i class="ti-email"></i></div>
                              <input type="email" [ngModel]="usuario.email" [disabled]="usuario.google" name="email" class="form-control"  placeholder="Ingresar Email" required>
                          </div>
                      </div>
                  </div> 
                  <div class="form-group row m-b-0">
                      <div class="offset-sm-3 col-sm-9">
                          <button type="submit" class="btn btn-success waves-effect waves-light"> Guardar <i class="fa fa-save" ></i></button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
  
  <!-- car para la fotografia  -->
  <div class="col-lg-5">
    <div class="card" align="center" >
      <div class="card-body">
        <h4 class="card-title">Perfil del usuario</h4>
        <h6 class="card-subtitle">Nombre usuario</h6>

        <img *ngIf="!imagenSubir" [src]="usuario.img | imagen" class="w150" alt="">
        <img *ngIf="imagenSubir" [src]="imagenTemp" class="w150" alt="">

        <input (change)="selecionImagen($event.target.files[0])" type="file">

        <br><br>

        <button (click)="cambiarImagen()" [disabled]="!imagenSubir" type="submit" class="btn btn-block btn-success waves-effect waves-light"> Actualizar Foto <i class="fa fa-save" ></i></button>
      </div>
    </div>
  </div>

</div>

<!-- password gt-servicios K7FJGRwGBZ8rRmz -->